openai
python-dotenv
audio-recorder-streamlit
numpy
scipy
streamlit
streamlit-webrtc
av
soundfile
pillow
pandas
matplotlib
openpyxl
xlsxwriter
pymupdf
python-docx
yfinance
lxml
seaborn
azure-search-documents
azure-core
